:root {
	--main-color: #00237e;
  }



body * {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    margin: 0px;


}


/* ------------------------------ Base CSS -----------------------------------------*/
strong {
    font-weight: bold;
    letter-spacing: -0.5px;
  }


@font-face {
  font-family: 'brandon_bld';
  src: url('../fonts/Brandon_bld.ttf') format("truetype");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'brandon_reg';
  src: url('../fonts/Brandon_reg.ttf') format("truetype");
  font-weight: normal;
  font-style: normal; 
}

@font-face {
  font-family: 'myradpro_reg';
  src: url('../fonts/myradpro_reg.otf') format("opentype");
  font-weight: normal;
  font-style: normal; 
}

.es_miracle_landing label, .es_miracle_landing span, .es_miracle_landing p,
.es_miracle_landing h1, .es_miracle_landing h2, .es_miracle_landing h3,
.es_miracle_landing h4, .es_miracle_landing h5, .es_miracle_landing h6 {
	color: var(--main-color);; 
}

.es_miracle_landing span, .es_miracle_landing p {
	font-family: 'brandon_reg';
}

.es_miracle_landing label, .es_miracle_landing h1, .es_miracle_landing h2,
.es_miracle_landing h3, .es_miracle_landing h4, .es_miracle_landing h5,
.es_miracle_landing h6 { 
	font-family: 'brandon_bld'; 
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

table.full {
    width: 100%;
    margin-bottom: 1em
}

.table-wrap {
    max-width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

tr {
    border-bottom: 1px solid #e6e3de
}

th {
    font-weight: bold
}

th,td {
    text-align: left;
    padding: 15px
}


.fl {
    float: left;
}

.fr {
    float: right;
}

.es_hide {
    display: none !important;
}

.es_row {
	width: 100%;
	display: block;
}

.es_one-third {
	width: 32%;
	margin-left: 2%;	
}

.es_one-third:first-child {
	margin-left: 0;
}

.es_one-forth {
	width: 23.5%;
	margin-left: 2%;
}

.es_one-forth:first-child {
	margin-left: 0;
}

.es_one-second {
	width: 49%;
	margin-left: 2%;
}

.es_one-second:first-child {
	margin-left: 0;
}

.es_container {
    display: flex;
    width: 90%;	
    margin: 0 auto;
    max-width: 1200px;
}

.cross_border {
    position: relative;
    margin-top: 15px;
    text-align: center;
    color: #7d7d7d;
}

.cross_border:after {
    content: "";
    border-top: solid 1px #d9d9d9;
    width: 100%;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
    z-index: -2;
    left: 0;
}

.cross_border label {
    padding-left: 10px;
    padding-right: 10px;
    background: #FFF;
    color: #7d7d7d;
    font-size: 10px;
    font-weight: 300;
}

.es_left {
	padding: 20px;
}

.es_right {
	padding: 20px;
}

.es_miracle_landing .es_badge-blue {
    background: var(--main-color);;
    color: #FFF;
    text-transform: uppercase;
    padding: 3px 9px;
    font-family: 'brandon_reg';
}

.es_miracle_landing .es_badge-orange {
	background: #FF7800;
    color: #FFF;
    text-transform: uppercase;
    padding: 3px 9px;
    font-family: 'brandon_reg';
}

/*------------------------------------------------------ Product Detail CSS ----------------------------------------*/

.es_product .es_section {
	padding-top: 20px;
}

.es_product .es_section .es_section_heading {
    display: inline-block;
    width: 100%;
}

.es_product .es_snippet_row {
	display: flex;
}

.es_product .es_variant_description {
    display: inline-block;
    width: 100%;
}

.es_product .es_snippet_row .es_snippet_item {
	display: grid;
    box-shadow: 0px 4px 11px #1162b326;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: solid 2px transparent;
}

.es_product .es_snippet_row .es_snippet_item, .es_product .es_snippet_row .es_snippet_item * {
	cursor: pointer;
}

.es_product .es_snippet_row .es_snippet_item img {
	width: 100%;
}

.es_product .es_snippet_row .es_snippet_item label {
    text-align: center;
    padding: 10px;
    background: transparent;
}

.es_product .es_snippet_row .es_snippet_item.es_active {
	background: var(--main-color);;
    border: solid 2px var(--main-color);;
}

.es_product .es_snippet_row .es_snippet_item.style-img.es_active:before {
	content: url(../assets/tick.png);
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 10px;
}

.es_product .es_snippet_row .es_snippet_item.style-text.es_active:before {
    content: url(../assets/tick.png);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background: #FFF;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 7px;
}

.es_product .es_snippet_row .es_snippet_item.es_active label, .es_product .es_snippet_row .es_snippet_item.es_active span {
	color: #FFF;
}

.es_product .es_snippet_row .es_snippet_item.style-text.es_active label {
	padding-left: 45px;
}

.es_product .es_snippet_row .es_snippet_item.style-detail {
	display: inline-block;
    padding: 20px 10px;
	text-align: center;
}

.es_product .es_snippet_row .es_snippet_item.style-detail.es_best_seller:before {
	content: "BEST SELLER";
    position: absolute;
    background: var(--main-color);;
    color: #FFF;
    font-family: 'brandon_bld';
    transform: rotate(45deg);
    top: -11px;
    right: -40px;
    padding: 25px 20px 5px;
    width: 80px;
    text-align: center;
    line-height: 1;
    font-size: 14px;
}

.es_product .es_snippet_row .es_snippet_item.style-detail.es_best_seller.es_active:before {
    color: var(--main-color);;
    background: #FFF;
}

.es_product .es_snippet_row .es_snippet_item.style-detail label {
    width: 100%;
    display: block;
    padding: 0;
    font-size: 22px;
    margin-bottom: 5px;
}

.es_product .es_featured_product {
    display: block;
    border: solid 1px #e7e8ea;
    background: #FFF;
    padding: 30px 50px;
    width: auto;
}

.es_product .es_featured_product * {
	font-family: 'brandon_reg';
}

.es_product .es_featured_product .es_product-img {
	float: left;
	max-width: 270px;
}

.es_product .es_featured_product .es_product-img img {
	width: 100%;
}

.es_product .es_featured_product .es_product-content {
	float: right;
    width: calc(100% - 290px);
    margin-top: 15px;
}

.es_product .es_featured_product .es_product-content .es_badges {
	margin-top: 5px;
}

.es_product .es_featured_product .es_product-content .es_price {
	display: table;
}

.es_product .es_featured_product .es_product-content .es_price .es_price-main {
    margin: 0;
    font-size: 45px;
    width: 100px;
    display: table-cell;
}

.es_product .es_featured_product .es_product-content .es_price .es_price-compare {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    color: #c30000;
    text-decoration: line-through;
}

.es_product .es_featured_product .es_product-content .es_product-comment-quadpay span {
	float: left;
	font-size: 13px;
}

.es_product .es_featured_product .es_product-content .es_product-comment-quadpay img {
    float: left;
    margin-left: 10px;
}

@media screen and (min-width: 768px) {
	.es_left {
		width: 60%;
		float: left;
        position: relative;
        border-right: 1px solid #e0e3e6;
	}

	.es_left:after {
	    content: "";
		background: #f7fbff;
		width: 100vw;
		height: 100%;
		position: absolute;
		top: -8px;
		right: 0;
		z-index: -1;
		min-height: 100vh;
	}

	.es_right {
		width: 40%;
		float: right;
    }
    
    .proceed_checkout_button {
        display:none;
    }
}

/*---------------------------------------------- Checkout Form CSS -----------------------------------------------------*/

.checkout-paypal-form .checkout-submit-paypal {
    background: #ffc439;
    border: none;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
}

.checkout-paypal-form .checkout-submit-paypal img {
	height: 20px;
}

.checkout-combo-form .heading-box {
    float: left;
    width: 100%;
    margin-top: 1.7em;
    margin-bottom: 0.7em;
}

.checkout-combo-form .heading-box .chk-head {
    display: block;
    font-size: 1.5em;
    margin: 0;
}

.checkout-combo-form .heading-box h6.chk-sub {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 5px;
}

.checkout-combo-form .payment-flds-box {
    float: left;
    width: 100%;
    padding: 0px;
}

.checkout-combo-form .payment-flds-box .frm-flds {
    width: 100%;
    position: relative;
    margin: 5px 0;
}

.checkout-combo-form .payment-flds-box .frm-flds label {
    opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    top: 8px;
    left: 10px;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    color: #bbb;
    border-radius-top-left: 3px;
    transition: all .2s ease-in-out;
    z-index: 1;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.checkout-combo-form .payment-flds-box .frm-flds .input-flds {
    float: left;
    width: 100%;
    outline: none;
    border: 1px solid #d9d9d9;
    height: 50px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 5px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #FFFFFF;
    z-index: 10;
    position: relative;
    cursor: text;
    opacity: 1;
}

.checkout-combo-form .payment-flds-box .frm-flds select.input-flds {
    cursor: pointer;
}

.checkout-combo-form .payment-flds-box .frm-flds.half-fld {
    width: 49%;
}

.checkout-combo-form .payment-cards-box {
    display: inline-block;
}

.checkout-combo-form .payment_method {
    display: block;
    float: left;
    width: 100%;
    border: solid 1px #dddddd;
    border-radius: 5px;
}

.checkout-combo-form .payment_method .payment-cards-box {
    display: inline-block;
    border-bottom: solid 2px #f0f0f0;
    width: 100%;
    cursor: pointer;
}

.checkout-combo-form .payment_method .payment-cards-box label.paymybtn {
    padding: 15px 10px;
    display: block;    
}

.checkout-combo-form input[type='radio'] {
    margin-right: 10px;
}

.checkout-combo-form input[type='radio']:after {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #f5f5f5;
    border-radius: 50%;
    border: solid 1px #b5b5b5;
    margin-left: -5px;
    margin-top: -3px;
}

.checkout-combo-form input[type='radio']:checked:after {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #FFF;
    border-radius: 50%;
    border: solid 7px var(--main-color);;
    margin-left: -5px;
    margin-top: -3px;
}

.checkout-combo-form .checkout-billing-fields {
    margin-top: 15px;
}

.checkout-combo-form .checkout-submit-combo {
    margin-top: 20px;
    float: left;
    width: 100%;
    min-height: 50px;
    display: block;
    border-radius: 6px;
    border: 0px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding: 20px;
    cursor: pointer;
    margin-top: 15px;
    color: rgb(17, 17, 17)!important;
    border-top-left-radius: 3px!important;
    border-top-right-radius: 3px!important;
    border-bottom-right-radius: 3px!important;
    border-bottom-left-radius: 3px!important;
    border-top-color: rgb(173, 177, 184)!important;
    border-right-color: rgb(162, 166, 172)!important;
    border-bottom-color: rgb(141, 144, 150)!important;
    border-left-color: rgb(162, 166, 172)!important;
    border-top-style: solid!important;
    border-right-style: solid!important;
    border-bottom-style: solid!important;
    border-left-style: solid!important;
    border-top-width: 1px!important;
    border-right-width: 1px!important;
    border-bottom-width: 1px!important;
    border-left-width: 1px!important;
    background-image: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75))!important;
    background-position-x: initial!important;
    background-position-y: initial!important;
    background-size: initial!important;
    background-repeat-x: initial!important;
    background-repeat-y: initial!important;
    background-attachment: initial!important;
    background-origin: initial!important;
    background-clip: initial!important;
    background-color: initial!important;
}

.checkout-combo-form .extra_row {
    display: block;
    margin: 20px 0;
    float: left;
    width: 100%;
    text-align: center;
}

.checkout-combo-form .form-group.checkout-valid-field .frm-flds:after {
    content: '';
    width: 20px;
    height: 20px;
    background: url(../assets/checkout-check.svg);
    background-size: 20px 20px;
    position: absolute;
    top: 16px;
    right: 20px;
    z-index: 10;
}

.checkout-combo-form .form-group.checkout-valid-field .field__caret {
    display: none;
}

.checkout-combo-form .form-group.checkout-invalid-field .frm-flds .input-flds {
    border: solid 2px #ff3600;
}

.checkout-combo-form .form-group .pristine-error {
    display: none !important;
}

.checkout-combo-form .frm-flds.filled label {
    opacity: 1;
    visibility: visible;
    top: 3px;
    left: 12px;
    z-index: 11;
}

.checkout-combo-form .frm-flds.filled input {
    padding-top: 12px;
}

.checkout-cart-display {
    margin-bottom: 20px;
    margin-top: 10px;
}

.checkout-coupon-button {
    width: 100%;
    height: 40px;
    background-color: #565656;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .for-mob {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    .es_left:after {
        display: none;
    }

    .es_miracle_landing {
        display: block;
    }

    .es_miracle_landing .es_left {
        width: 100%;
    }

    .es_miracle_landing .es_right {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    
    .mobile-half-fld {
      width: 49% !important;
    }

    .mobile-fr {
      float: right !important;
    }

    .mobile-fl {
        float: left !important;
    }

    .es_product .es_snippet_row {
        display: block;
    }

    .es_product .es_snippet_row .es_snippet_item {
        display: block;
        margin: 10px 0.5%;
        width: 100%;
        border-radius: 5px;
        float: left;
    }

    .es_product .es_snippet_row .es_snippet_item label {
        display: block;
    }

    .es_product .es_snippet_row .es_snippet_item img {
        margin: 0;
    }

    .es_product .es_featured_product {
        padding: 30px;
    }

    .checkout-combo-form .payment-cards-box {
        width: 100%;
        margin-top: 0px;
    }

    .es_product .es_featured_product .es_product-img {
        width: 100%;
    }

    .es_product .es_featured_product .es_product-content {
        width: 100%;
    }

    .checkout-combo-form #payment_field-paypal {
        text-align: center;
    }

    .checkout-combo-form #payment_field-quadpay {
        text-align: center;
    }

    .es_container {
        width: 100%;
    }

    .es_left {
        padding: 10px;
    }

    .es_product .es_section .es_section_heading h2 {
        margin-bottom: 7px;
    }

    .es_product .es_featured_product .es_product-img {
        max-width: 100%;
    }

    .proceed_checkout_button {
        margin-top: 20px;
        text-align: center;
        width: 100%;
        min-height: 50px;
        display: block;
        border-radius: 6px;
        border: 0px;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        padding: 20px;
        cursor: pointer;
        margin-top: 15px;
        color: rgb(17, 17, 17)!important;
        border-top-left-radius: 3px!important;
        border-top-right-radius: 3px!important;
        border-bottom-right-radius: 3px!important;
        border-bottom-left-radius: 3px!important;
        border-top-color: rgb(173, 177, 184)!important;
        border-right-color: rgb(162, 166, 172)!important;
        border-bottom-color: rgb(141, 144, 150)!important;
        border-left-color: rgb(162, 166, 172)!important;
        border-top-style: solid!important;
        border-right-style: solid!important;
        border-bottom-style: solid!important;
        border-left-style: solid!important;
        border-top-width: 1px!important;
        border-right-width: 1px!important;
        border-bottom-width: 1px!important;
        border-left-width: 1px!important;
        background-image: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75))!important;
        background-position-x: initial!important;
        background-position-y: initial!important;
        background-size: initial!important;
        background-repeat-x: initial!important;
        background-repeat-y: initial!important;
        background-attachment: initial!important;
        background-origin: initial!important;
        background-clip: initial!important;
        background-color: initial!important;
    }
    
    .es_section_heading {
        font-size: 13px!important;
    }

    span.never-share {
        float: left!important;
    }

    .bit-margin {
        margin-top: 10px!important;
    }
    

}



/* The container */
.custom-container {
	display: block;
	position: relative;
	padding-left: 35px;
	  padding-right: 10px;
	  margin-bottom: 15px;
		  margin-top: 8px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .custom-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #f7d596;
	  border-radius:0px%;
  
  }
  
  /* On mouse-over, add a grey background color */
  .custom-container:hover input ~ .checkmark {
	background-color: var(--main-color);
	  border-radius:0px%;
  }
  
  /* When the checkbox is checked, add a blue background */
  .custom-container input:checked ~ .checkmark {
	background-color: var(--main-color);
	  border-radius:0px%;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .custom-container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .custom-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  .custom-container .checkmark:before {
	  border: 2px solid #737373;
  
  }
  
  
  
  .custom-upsell {
	  background-color: #fffddf;
	  padding: 0px 0px 0px 10px;
	  border-radius: 0px;
	  border: 1px solid #f3d9a0;
	  margin-top:10px;
  }
  


  .checkout-cart-display button.checkout-coupon-button {
    display: none!important;
  }

  .coupon-input-wrapper {
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .coupon-input-wrapper input.checkout-coupon-field {
    width: 65%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    padding-left: 10px;
}

  .coupon-input-wrapper button.checkout-coupon-button {
    width: 30%;
    margin-left: 5%;
    height: 50px;
  }

.paypal-express-checkout {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.paypal-express-checkout .payment-method {
    display: inline-block;
    position: absolute;
    margin-top: -18px;
    transform: translateX(-50%);
    background: #FFF;
    padding: 0 10px;
    text-align: center;
}

.payment-method {
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #7d7d7d;
    font-family: 'brandon_bld';
}

div#payment_field-credit {
    padding: 15px;
    background-color: #f7fbff;
}

div#payment_field-paypal {
    background-color: #f7fbff;
    text-align: center;
}

div#payment_field-quadpay {
    background-color: #f7fbff;
    text-align: center;

}


.checkout-money {
    text-align: right;
  }
  .checkout-cart-display .product-line td{
      border-bottom: 1px solid #eee;
  }
  .checkout-cart-display .product-line:first-child td {
    border-top: 1px solid #eee;
  }
  .checkout-cart-display td {
      padding: 5px 0;
      color: #000;
  }
  .checkout-cart-display .product-line:last-child td {
    padding-bottom: 0;
  }
  
  button, a, input, select {
    cursor: pointer;
  }
  
  

  tr.discount-line {
    text-align: left;
    color: #27925e;
    font-weight: 600;
}


  tr.product-line {
    text-align: left!important;
}

tr.subtotal-line {
    text-align: left;
    border: 0;
}

tr.shipping-line {
    text-align: left;
    border: 0;
}

tr.tax-line {
    text-align: left;
    border: 0;
}


tr.total-line {
    text-align: left;
    font-weight: 600;
}



.countdown-mob {
    background: #d4e0ff;
    border-radius: 0px;
    font-size: 13px;
    border: none;
    margin-bottom: 0px;
    padding: 10px 4px;
    color: #fff;
    text-align: center;
    border: 1px solid #a7bfff;
}






.countdown {
	background: rgb(255, 240, 208);
	border-radius: 12px;
	font-size: 13px;
	border: 1px solid #fbcc70;
	margin-bottom: 15px;
	padding: 10px;
	color: #000;
        text-align: left;
}

@media only screen and (max-width:749px){
  .countdown {
    margin-top:5px;
    margin-bottom:15px;
  }
}


img.quadpay-img {
    height: 20px;
    margin-left: 10px;
    margin-top: 3px!important;
}


.es_row.es_reviews {
    font-size: 14px;
}

.es_snippet_item.es_one-forth.style-text {
    font-size: 14px;
}

input.checkout-coupon-field.input-flds {
    cursor: text;
}

.checkout-cart-display {
    font-size: 13px;
    font-family: 'brandon_reg'!important;
    color:#7d7d7d;
}

.summry-toggle-mob {
    position: fixed;
    top: 71px;
    width: 100%;
    z-index: 100;
    background: #FFF;
    border-bottom: solid 1px #e0e3e6;
    padding: 10px;
    font-family: 'brandon_reg'!important;
    cursor: pointer;
} 

.summry-toggle-mob p {
    margin: 0;
}

.summry-toggle-mob #summry-toggle-mob {
    display: block;
    padding: 0;
}

.summry-toggle-mob .togle-price {
    float: right;
}

.summry-toggle-mob .summry-toggle {
    float: left;
}

.summry-toggle-mob .order-summary-toggle__icon {
    float: left;
    margin-right: 7px;
}

.summry-toggle-mob p span {
    display: inline-block;
    line-height: 19px;
}

.uco-widget-title {
    font-size: 14px;
    text-align: center;
  position: relative;
  z-index: 20;
  margin-top:15px;
  }
  
  .uco-widget-row {
    display: flex;
    font-size: 0;
    padding: 20px 0;
  }
  
  
  .uco-widget-img {
    display: inline-block;
    font-size: 14px;
    margin-right: 2%;
    vertical-align: middle;
  }
  
  .uco-widget-text {
    display: inline-block;
    font-size: 14px;
  vertical-align: middle;
  text-align: left;
  width: 100%;
  }
  
  .uco-widget-title:before {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    content: "";
    background: #dfdfdf;
  }
  
  
  .uco-widget-title span {
    padding: 0 10px;
    background: #fafafa;
    vertical-align: middle;
    position: relative;
    z-index: 20;
  }


span.review-content {
    display: block;
    margin-top:5px;
}

span.review-verified {
  display: block;
  color: #4bad00;
}


span.review-place {
  float: right;
  font-size: 11px;
}

span.review-name {
  margin-left: 5px;
  font-weight: 600;
}

.field__caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #919191;
    position: absolute;
    right: 14px;
    z-index: 10;
    top: 23px;
}

.field__caret:before {
    content: "";
    display: inline-block;
    border-left: solid 1px #d9d9d9;
    height: 25px;
    position: absolute;
    right: 15px;
    top: -15px;
}

.form-group select{
    -webkit-appearance: none;
    cursor: pointer;
}

.paymybtn {
    cursor: pointer;
}

.es_btn-sizechart {
    position: absolute;
    right: 25px;
    margin-top: -40px;
}

@media screen and (max-width: 767px) {
    .es_btn-sizechart {
        margin-top: -30px;
    }

    .top-header {
        position: fixed;
        top: 0;
    }
}

/*----------------------------------------------- Size Chart Modal CSS ---------------------------------------------------*/

.backdrop {
    display:none;
    background-color:rgba(0, 0, 0, 0.35);
    z-index:1001;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    position:fixed
}
.backdrop.active {
    display:block
}
.size-guide-modal {
    display:none;
    width:500px;
    background-color:#ffffff;
    padding:30px 20px;
    z-index:99999;
    position:absolute;
    left:50%;
    top:50%;
    -ms-transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    position:fixed
}
/* .size-guide-modal.bedding {
    width:680px
} */
@media only screen and (max-width: 767px) {
    .size-guide-modal.bedding {width:100vw;}
        .size-guide-modal.bedding .column {
        width:25%
    }
    .size-guide-modal.bedding .column .title, .size-guide-modal.bedding .column .heading {
        font-size:13px
    }
}
@media only screen and (max-width: 767px) {
    .size-guide-modal {
        height:100vh;
        width:100vw
    }

    .es_miracle_landing {
        padding-top: 100px;
    }

    #toggle-mob-cart {
        position: fixed;
        top: 111px;
        width: 100vw;
        left: 0;
        background: #FFF;
        padding: 15px;
        display: none;
    }

    #toggle-mob-cart .chk-head {
        margin: 10px 0;
    }
}
.size-guide-modal.active {
    display:block;
}
.size-guide-modal .btn-close {
    position:absolute;
    top:10px;
    right:20px;
    padding:5px 10px;
    cursor:pointer;
}
.size-guide-modal .column {
    display:inline-block;
    width:150px
}
@media only screen and (max-width: 767px) {
    .size-guide-modal .column {
        width:50%;
        float:left
    }
}
.size-guide-modal .heading {
    padding:15px 0;
    font-weight:normal
}
.size-guide-modal .column .title {
    padding-top:30px;
    padding-bottom:0;
    font-size:16px;
    font-weight:normal
}
.size-guide-modal hr {
    margin:0
}
.btn-close svg {
    width:18px
}

.size-guide {
    display:block;
    height:28px;
    line-height:28px;
    font-size:13px;
    padding:0 10px;
    background-color:#FBFBFB;
    cursor:pointer
}
.size-guide img {
    height:10px;
    margin-right:5px
}
@media only screen and (max-width: 767px) {
    .size-guide {
        float:left
    }
}


.colors-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    align-items: center;
    margin: auto -5px!important;

}


.color-choice {
    border-radius: 100%;
    height: 35px;
    width: 35px;
    padding: 0px;
    line-height: 35px;
}


.size-choice:hover,
.color-choice:hover {
    color: #00237e;
}


.size-description {
    font-family: 'Brandon reg', sans-serif;
    font-size: 14px;
}

td{border:0;}
.size-guide-modal{position: fixed;width: 100%; height:100%;top: 0;left: 0;bottom: 0;right: 0;overflow-y: auto;z-index: 999999; background:rgba(0, 0, 0, 0); -webkit-transform: inherit;
transform: inherit;}

.size-guide-modal .size-guide-modal-inner{background: #fff;
position: relative;
max-width: 780px;
height: auto;
transform: translateY( 40%);
-webkit-transform: translateY( 40%);
padding: 30px 20px 10px;
margin: 0 auto;
left: 0;
right: 0;
}
.size-guide-modal.bath .size-guide-modal-inner{
max-width: 500px;
}
.size-guide-modal .btn-close{right:10px;}
.size-guide-modal.bedding .size-guide-container{margin:0 -20px; display: none}
.size-guide-container .size-guide-row{ display:-webkit-flex;display:-webkit-box;display:-moz-flex;display:-moz-box;display:-ms-flexbox;display:flex; flex-direction: row;
border-bottom: 1px solid #eaf1ff;}
.size-guide-container .size-guide-row .size-guide-column{flex-grow: 1; flex-basis: 50%; max-width: 60%; text-align: left; padding: 10px 15px 10px 30px;color:#00237e; color: #718399;
font-family: 'brandon_reg'; font-size: 16px;}
.size-guide-container .size-guide-row .size-guide-column:last-child{text-align:right; max-width:40%; padding:10px 30px 10px 15px;}
.size-guide-container .size-guide-row:last-child{border-bottom:0;}
.size-guide-container  .size-guide-heading{font-family: 'brandon_reg'; color:#00237e;padding:10px 30px; background:#eaf1ff; text-align:left;}
.size-guide-modal .section-title{font-size: 28px; font-family: 'brandon_bld'; margin: 0 0 15px 0;}
.btn-close svg{fill:#00237e}

.size-guide-modal.bath .size-guide-desktop{display: table; width: 90%; margin: 0 auto 20px;}
.size-guide-desktop th{font-family: 'brandon_reg'; color:#00237e;padding:10px 30px; background:#eaf1ff; text-align: center;}
.size-guide-desktop th, .size-guide-desktop td{padding:20px 3px;font-family: "brandon_reg";  font-size: 15px;text-align: center; font-weight: normal;}
.size-guide-desktop td{color:#000;font-size: 15px;line-height: 22px;padding-top: 20px;font-family: "brandon_reg";}
.size-guide-desktop tr td:first-child, .size-guide-desktop th{color:#00237e;}
.size-guide-desktop tr td:first-child{text-align: left;}
.size-guide-desktop tr:last-child, .size-guide-desktop thead tr{border-bottom:0;}

@media(max-width:767px){
  .size-guide-modal.bedding .size-guide-desktop{display: none !important;}
  .size-guide-modal.bedding .size-guide-container{display: block;}
  .size-guide-modal{width:100%; height:100%;overflow-y: scroll; background:rgba(0, 0, 0, 0.5)}
  .size-guide-modal .size-guide-modal-inner{position:relative; width:100%; min-height: 100%; transform: initial; -webkit-transform: initial;}
  .size-guide-container  .size-guide-heading{padding:15px 20px}
  .size-guide-container .size-guide-row .size-guide-column{padding:15px 5px 15px 20px}
  .size-guide-container .size-guide-row .size-guide-column:last-child{padding:15px 20px 15px 5px}
}

.size_chart-handle {
  font-family: 'brandon_reg';
  margin-bottom: 10px;
  margin-right: 20px;
  display: inline-block;
  font-size: 17px;
  color: #aaa;
}

.size_chart-handle.active {
  color: #00237e;
}

/*------------------------------------------------------------------------------------------------------------------------*/


.es_row.product_information {
    font-size: 13px;
    padding: 10px;
    text-align: left;
    background-color: #f3f6ff;
    margin-top: 10px!important;
    margin-bottom: 0px!important;
}



a.checkout-formss {
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    .top-header {
        width: 100%;
        padding: 10px;
        display: block;
    }
}





.container {
    padding: 0 5%;
    margin: 0 auto;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    box-sizing: content-box;
    flex: 1;
    height: 100%;
    max-width: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    float: left;
    width: 50%;
}

@media only screen and (max-width: 749px) {
img.mob-logo {
    float: left!important;
    max-width: 90%;
}
}

img.mob-logo {
    float: left!important;
    height: 50px;
}

@media only screen and (max-width: 1000px) {
.mob-logo {
    margin: 0 auto;
    max-width: 80%;
    height: auto;
    vertical-align: middle;
}
}

@media only screen and (max-width: 749px) {
img.mob-secure {
    float: right;
    max-width: 90%;
}
}

img.mob-secure {
    float: right;
    height: 50px;
}


.top-header {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: #fff!important;
    padding: 10px;
    z-index: 800;
    border-bottom: 1px solid #e0e3e6;
}


label.paymybtn {
    font-size: 15px;
}





div#stripe-cvv {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
}


div#stripe-cc-number {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
}



div#stripe-exp {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
}


/* Shipping Delay Info */
.shipping-delay-info{border: 1px solid #9ad1ef; border-radius:3px; padding:15px; margin-bottom: 20px; display: flex; align-items: center; width:100%;background: #e4f3fb; margin-top:20px;}
.shipping-delay-info .title{font-family: 'Montserrat'; text-transform: uppercase; color: #00237e; display:block; font-weight: 800;}
.shipping-delay-info .shipping-text{font-size:13px; margin-left: 15px; line-height:normal; color:#00237e; font-family: 'brandon_reg'; font-weight: 200;}
.shipping-delay-info span{font-family: 'brandon_bld';}
.product-detail-template .shipping-delay-info{margin: 20px 0 0; max-width:460px;}

@media(max-width:767px){
  .shipping-delay-info{margin:20px auto 0;}
}

.payoptbox.payment_method {
    margin-bottom: 15px;
}