/*.variety-unavailable label {
  color: #fff !important;
}
*/
.variety-unavailable li{
	width: 50%;
}
.variety-unavailable li:first-child{
  display: none;
}


/*.variety-unavailable label {
  color: transparent;
  border: 0 !important;
}
*/

/*.variety-unavailable label:before,
.variety-unavailable label:after {
  display: none;
}
*/

#current-price {
  min-width: 240px;
}