@font-face {
  font-family: 'NeuzeitGro-Bla';
  src: url('NeuzeitGro-Bla.svg#NeuzeitGro-Bla') format('svg'),
       url('NeuzeitGro-Bla.ttf') format('truetype'),
       url('NeuzeitGro-Bla.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'n001006t';
  src: url('n001006t.eot');
  src: url('n001006t.eot?#iefix') format('embedded-opentype'),
       url('n001006t.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

