*{margin:0; padding:0;}

body {
  margin: 0;
  font-family:'Open Sans', Arial, Helvetica, sans-serif;
  line-height:18px;
  font-size:13px;
  color:#555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight:300;
  background:url(../images/pattern.png) center repeat;
}

ul, ol, li{list-style:none;}
p{padding-bottom:20px;}
a {
  text-decoration:none;
  color:#555;
}
a img{border:0;}

input[type="text"], input[type="password"], textarea{border:1px solid #abcfd5;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px; font-family:'Open Sans', Arial, Helvetica, sans-serif; color:#ccc; resize:none; padding:3%; width:92%; color:#333;font-family:'Open Sans', Arial, Helvetica, sans-serif;}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus{color:#00768a; outline:none; border:1px solid #68b1bd}
input[type="submit"]{color:#fff;font-family:'Open Sans', Arial, Helvetica, sans-serif; font-size:14px; font-weight:600;background:#333; padding:5px 20px; display:inline-block; color:#fff; border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;border:1px solid #111; cursor:pointer}
input[type="submit"]:hover{background:#00768a;border:1px solid #025a69;}
select{border:1px solid #cac9c9; padding:4px; background:#fff;}
img{width:100%; display:block;}
a, input[type="submit"], input[type="text"], textarea{transition:all 0.2s ease-in 0s; -webkit-transition:all 0.2s ease-in 0s; -o-transition:all 0.2s ease-in 0s;-moz-transition:all 0.2s ease-in 0s;}

a:focus {
  outline:none;
}

/******* Font face kit *******/
@font-face {
    font-family: 'LucidaHandwritingItalic';
    src: url('../fonts/lhandw.eot');
    src: url('../fonts/lhandw.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lhandw.woff') format('woff'),
         url('../fonts/lhandw.ttf') format('truetype'),
         url('../fonts/lhandw.svg#LucidaHandwritingItalic') format('svg');
}




/*---Common Classes---*/
.container{width:990px; margin:0 auto}
.col-1{width:225px;}
.col-2{width:480px;}
.col-3{width:735px;}
.col-4{width:990px;}
.lfloat{float:left}
.rfloat{float:right;}
.clearfix{clear:both;}
.orange-color{color:#f60 !important;}
.orange-color:hover{color:#2e3192}
p strong{color:#f60;}

h1, h2, h3{font-weight:normal;}
h1{font-size:30px; line-height:36px; margin-bottom:15px; font-weight:300; padding-bottom:10px;}
h2{font-size:22px; line-height:26px; margin-bottom:15px;font-weight:400;}
h3{font-size:18px; line-height:22px; margin-bottom:15px;font-weight:400;}
h4{font-size:16px; line-height:18px; margin-bottom:15px;font-weight:300}
h5{font-size:14px; font-weight:bold;}
h6{font-size:12px; font-weight:bold;}
.mr-30{margin-right:30px;}
.mr-bot-30{margin-bottom:30px;}
.mr-left-5{margin-left:5px;}
.textcenter{text-align:center}
.imglink{display:block;}
.bluelink{color:#00768a;}
.bluelink:hover, .malesection h3 a:hover, .femalesection h3 a:hover{color:#333;}

.btn{background:#00768a; padding:10px 20px; display:block; color:#fff; border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;-moz-border-radius:3px;border:1px solid #025a69; cursor:pointer; text-align:center; font-size:16px;}
.btn:hover{background:#333;border:1px solid #111;}
.btn-medium{font-size:16px; padding:5px 15px; font-weight:400;}
.btn-large{font-size:18px; padding:12px 30px; font-weight:300;}
.btn-blue{background:#2e3192;}
.btn-blue:hover{background:#f60;}
.search-btn{background:url(../images/images-sheet.png) left -46px no-repeat; padding:7px 13px; margin-left:5px; float:left;}
.search-btn:hover{background:url(../images/images-sheet.png) left -80px no-repeat;}
.w100{width:100% !important;}
.red{color:#ff0000;}

.header-container{clear:both; width:100%;}
.topbar{background:#00768a;color:#ccc;font-weight:300;}
.topbar .container a{font-size:12px; font-weight:bold;}
.topnav{overflow:hidden; float:right; margin-top:9px;}
.topnav li{float:left;margin:0 5px;color:#cce6eb;}
.topnav li a{color:#cce6eb;}
.topnav li a:hover{color:#fff;}
.toploginlink{float:right; margin-left:10px;}
.toploginlink a{color:#00768a; background:#cce6eb; display:block; padding:10px 20px; float:left; margin-right:1px;}
.toploginlink a:hover{color:#cce6eb; background:#00768a;}

.slider{background:url(../images/pattern.png) center top repeat #acd3da; padding:40px 0;width:100%; border-bottom:1px solid #a4bbbf;border-top:1px solid #a4bbbf;}
.wrapper{width:100%; padding:50px 0;}
.wrapper h1, .wrapper h2{font-family: 'LucidaHandwritingItalic';}
.model-compare{width:735px; padding-bottom:40px;}
.model-compare-box{width:284px; height:245px;box-shadow:0 0 5px #bbb;-webkit-box-shadow:0 0 5px #bbb;-o-box-shadow:0 0 5px #bbb; border:5px solid #fff; float:left;}
.vs{border-radius:50%; border:1px solid #acd3da; background:#cce6eb; padding:10px; height:20px; width:20px;font-size:18px; font-weight:600; text-align:center; color:#00768a; margin:100px 50px; float:left;}
.wrapper h1{border-bottom:1px dashed #acd3da;}
.femalesection{ margin:30px 0 40px;}
.femalesection h2, .femalesection h3 a, .femalesection .model-bottom strong{color:#dc3e58;}
.malesection h2, .malesection h3 a, .malesection .model-bottom strong{color:#1a83d4;}
.thumblisting li{width:215px; box-shadow:0 0 5px #bbb;-webkit-box-shadow:0 0 5px #bbb;-o-box-shadow:0 0 5px #bbb; border:5px solid #fff; padding-bottom:5px; background:#f5f5f5; float:left; margin-right:30px;}
.thumblisting li:nth-child(3n+3){margin-right:0;}
.thumblisting li a.thumbimage{width:215px; height:184px;}
.thumblisting li a.thumbimage:hover{opacity:0.7;}
.thumblisting li h3{padding:10px 10px 5px; margin:0}
.thumblisting li p{padding:0 10px 10px}
.thumblisting li .model-bottom{padding:10px; background:url(../images/border-bg.png) center top repeat-x; overflow:hidden;}
.regform{border:1px solid #abcfd5; border-radius:5px;-webkit-border-radius:5px;o-oborder-radius:5px; background:#cce6eb; padding:15px;}
.regform p{padding-bottom:10px;}
.regform fieldset{padding-bottom:10px;}
.success-stories{overflow:hidden;}
.story-box{overflow:hidden; border-bottom:1px dashed #dfdfdf; padding-bottom:5px; margin-bottom:15px; font-size:12px; line-height:14px;}
.story-box:last-child{border-bottom:0;}
.story-left{width:70px; margin-right:10px; float:left;}
.story-box h6{color:#00768a; text-align:center;}
.story-left img{width:70px; height:60px; border-radius:5px; display:block; }
.story-left img{margin-bottom:5px;}
.story-box a:hover img{opacity:0.7;filter: alpha(opacity=70);}
.story-box a:hover p{color:#00768a; text-decoration:underline;}
.story-right{float:left;width:145px;}


.socialicon{float:right;}
.socialicon li{display:inline-block; margin-right:5px}
.socialicon li a{background:url(../images/icon-social.png) left top no-repeat; width:35px; height:35px; display:inline-block; text-indent:-9999px;}
.socialicon a.facebook{background-position:left top;}
.socialicon a.twitter{background-position:-36px top;}
.socialicon a.in{background-position:-72px top;}
.socialicon a.gplus{background-position:-108px top;}
.socialicon a.skype{background-position:-144px top;}
.socialicon a.facebook:hover{background-position:left -36px;}
.socialicon a.twitter:hover{background-position:-36px -36px;}
.socialicon a.in:hover{background-position:-72px -36px;}
.socialicon a.gplus:hover{background-position:-108px -36px;}
.socialicon a.skype:hover{background-position:-144px -36px;}
.main-header{width:100%; background:#fff; box-shadow:0 0 5px #ccc;-webkit-box-shadow:0 0 5px #ccc;-o-box-shadow:0 0 5px #ccc;}
.logo{width:203px; height:64px; margin:20px 0;}
.fixed-header .logo{width:150px;height:50px;}
.fixed-header .navbar-nav > li > a{padding:35px 15px 25px !important; font-size:14px;}

/*** SLIDER INNER ***/

.breadcrumb-wrap{background:#fff; padding:5px 0; border:1px solid #f1f1f1}
.fixed-header{
    position: fixed;
    top:0; left:0;
    width: 100%;
	background:#fff;
	box-shadow:0 0 7px #555;-o-box-shadow:0 0 7px #555;-moz-box-shadow:0 0 7px #555;-webkit-box-shadow:0 0 7px #555;
	z-index:99999;
}


#footer{width:100%;font-size:12px;font-weight:300;}
.footer-top{background:#00768a; color:#fff; padding:15px 0 10px; overflow:hidden;}
.logo-footer{width:137px; float:left;}
.footernav{overflow:hidden; float:right}
.footernav li{float:left; margin:0 5px;}
.footernav li a{color:#fff;}
.footernav li a:hover{color:#cce6eb;}
.footer-middle{background:#dfeef1; padding:40px 0 30px; border-bottom:1px solid #abcfd5;}
.footer-middle h3{color:#00768a; border-bottom:1px dashed #abcfd5; margin-bottom:15px; padding-bottom:10px;}
.footer-middle .col-1:nth-child(3n+3) li a{color:#00768a;}
.footer-middle .col-1:nth-child(3n+3) li a:hover{color:#222;}
.footer-middle ul.footerlink li{margin-bottom:5px;}
.footer-middle ul.footerlink li a, .footer-middle ul.footerlink li{color:#222;}
.footer-middle ul.footerlink li a:hover{color:#00768a;}
.footer-bottom{background:#edf5f6; padding:7px 0;}












