@charset "utf-8";
/* CSS Document */
/*----------------
RESET CSS
-----------------*/
.pad-top {
background-color: #000000;
  padding-top:50px !important;
}
body {
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	padding:0;
	background:#fff;
	color:#333333;
	text-align:center;	
	font-family: 'Helvetica Neue', sans-serif;
	font-size:14px;
        overflow-y:scroll;
	}
div, ul, h1, h2, h3, h4, h5, li, p, img, form, input, textarea {margin:0;padding:0;}
header, section, footer, aside, nav, main, article, figure {display: block;}
table, tr, td {border:0;}
a{outline: none; color:#064870; text-decoration:none;}
a:hover {outline: none; color:#6ecddd; text-decoration:none;}
img {border:none;}
li {list-style:none;}
*{box-sizing:border-box;}
.img-full{max-width:100%;}
.clearall{
	clear:both;
	font-size:1px;
	line-height:1px;
	height:1px;
	}

select{
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	}	

    button {
      margin: 0;
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background: none;
    }

    button::-moz-focus-inner {    
      padding: 0;
      border: none;
    }

    button:-moz-focusring {    
      outline: 1px dotted;
	}
	



/*-----------------------
MAIN CSS START
------------------------*/
.for-desk{display:block;}
.for-mob{display:none;}
.for-mob > .container {display:block; width:100%}
html, body {
    margin: 0;
    width: 100%;
margin: auto;
max-width:1550px;
	height: 100%;
	-ms-overflow-style: scrollbar;
	}
.chkout-bg, .lft-chk, body{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto
	}

.chkout-bg {
	display: block;
}

.container{
	padding: 0 5%;
	margin:0 auto;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	box-sizing:content-box;
	flex:1;	
        height: 100%;
        border-right: 1px solid #e1e1e1;
	}	
.frm-main{
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	}
.lft-chk{
	width: 52%;
    padding-right: 6%;
	float:left;
	padding-top: 4em;
	box-sizing:content-box;
	}
	
.right-chk{
	width: 38%;
	padding-left: 4%;
	float:right;
	padding-top: 3em;
	padding-bottom: 3em;
	position:relative;
	box-sizing:content-box;
	}	

.right-chk:after{
	content: "";
	display: block;
	width: 300%;
	position: absolute;
	top: 0;
	left:0;
	bottom: 0;
	background: #FAFAFA;
	z-index: -1;
        border-left: 1px solid #e1e1e1;
        border-right: 1px solid #e1e1e1;
	}
		
/*-----------------------
CSS FOR UPSELL SEC1
-------------------------*/
.logo-box{
	float: left;
	width: 100%;
        margin-bottom:25px;
	}
.logo{
        max-height:60px;
        max-width:50%;      
	float:left;
	}
.logo-right{
        max-height:60px;
        max-width:50%;      
	float:right;
	}
ul.brdcrm{
	float:left;
	width:100%;
	margin-top: 1em;
	}
ul.brdcrm li{
	float:left;
	font-size: 0.85714em;
	color: #737373;
	}
ul.brdcrm li span{font-weight:500; color: #333333;}
ul.brdcrm li a{color:#0098fa;}

ul.brdcrm li svg{
	width: 10px;
    height: 10px;
	display: inline-block;
    vertical-align: middle;
    fill: #737373;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
	margin:0 5px;
	}
.paypalbtn{ 
	float:left;
	height: 50px;
	background: #ffc439;
	color: #111;
	box-sizing: border-box;
	border-radius:4px;
	width:100%;
        padding:5px;
	}
.paypalbtn img{height:20px; margin-top:7px;}
.paypalbtn .pad{margin-left:20px}
.paypalbtn i{position:absolute; margin-top:10px;}
.paypalbtn:hover{color:inherit}

.alternate-payment-opt{
padding-top:1.0em;
clear:both;
	float:left;
	width:100%;
	text-align:center;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 0.85714em;
    line-height: 1.3em;
    text-align: center;
    text-transform: uppercase;
    color: #737373;
	}
.alternate-payment-opt::after, .alternate-payment-opt::before {
	content: '';
	display: inline-block;
	height: 1px;
	background: #e6e6e6;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	}
	
.cp-contact,
.cp-shipping,
.cp-billing,
.cp-prospect{
	float:left;
	width:100%;
        margin-top: 9px;
	}

.cp-contact {
margin-top: 0px;
}

.heading-box{
	float:left;
	width:100%;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	}
.chk-head{
	float: left;
	font-weight:400;
	color: #333;
	font-size: 18px;
	line-height: 24px;
	text-align: left;
	}
.frm-flds{
	float:left;
	width:100%;
	position:relative;
	margin:5px 0;
	}
.frm-flds.fl{float:left;}
.frm-flds.fr{float:right;}
.frm-flds.half-fld{width:49%;}
.frm-flds.half-fld-fixed{width:49%;}
.frm-flds.drop-fld{width:34%; margin-right:1%;}
.frm-flds.zip-fld{width:30%;}
.frm-flds.street-fld{width:70%;}
.frm-flds.house-fld{width:29%;}
.drop-fld:after{
	content:'';
	position:absolute;
	right:0;
	width: 50px;
	top:0;
	bottom:0;
	background:url(../skin-shipping/select.svg) no-repeat center center;
	z-index:1;
	}
.frm-flds label{
	opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    top:8px;
    left: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #bbb;
    border-radius-top-left: 3px;
    transition: all .2s ease-in-out;
    z-index: 1;
	-webkit-transform: translateY(3px);
    transform: translateY(3px);
	}
.frm-flds .fl-is-active label{
	opacity: 1;
	visibility: visible;
	transform: none;
	color: #737373;
	}

.input-flds, .selcet-fld{
	float:left;
	width:100%;
	outline:none;
	border:1px solid #d9d9d9;
	height:41px;
	padding-left:11px;
        padding-right:11px;
	border-radius: 5px;
	color: #333;
	font-family:Arial, Helvetica, sans-serif;
	-webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
	box-sizing:border-box;
	font-size:14px;
	background-color: #FFFFFF;
	z-index: 10;
	position: relative;
	}
.selcet-fld:hover{
  cursor:pointer;
}
.frm-flds .fl-is-active .input-flds{	
	padding-top: 1.5em;
    padding-bottom: 0.35714em;
	}
.input-flds:focus,
.selcet-fld:focus{
	border:1px solid #0098fa;
	box-shadow:0 0 0 1px #0098fa;
	-webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
	}
.label-checkbox{
	float:left;
	text-align:left;
	cursor:pointer;
	margin-top:10px;
	color: #545454;
	font-size:14px;
	}
.all-checkbox{
	display:inline-block;
	vertical-align:middle;
	-webkit-appearance:none;
	width:18px;
	height:18px;
	border:1px solid #d9d9d9;
	border-radius:3px;
	outline:none;
	position:relative;
	margin-right:7px;
	-webkit-box-shadow: 0 0 0 0 #000000 inset;
	box-shadow: 0 0 0 0 #000000 inset;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	}
.all-checkbox:checked{
	background:#0098fa;
	border:1px solid #0098fa;
	}
.all-checkbox:after{
	content:'';
	position:absolute;
	width:15px;
	height:15px;
	background:url(../skin-shipping/tik.svg) no-repeat center center;
	left:0;
	top:0;
	opacity:0;
	z-index:1;
	-webkit-transition: all 0.2s ease-in-out 0.1s;
	transition: all 0.2s ease-in-out 0.1s;
	-webkit-transform: scale(0.2);
	transform: scale(0.2);
	}
.all-checkbox:checked:after{	
	-webkit-transition: all 0.2s ease-in-out 0.1s;
	transition: all 0.2s ease-in-out 0.1s;
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity:1;
	}
.all-sumbit{
	float:left;
	width:100%;
	margin-top:20px;
	}
.frm-submit{
	float:right;
	background:#00237e;
        width: 100%;
	padding: 1.4em 1.7em;
	color:#fff;
	-webkit-appearance:none;
	border:none;
	outline:none;
	font-weight:bold;
	font-size:15px;
	cursor:pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out 0.1s;
	transition: all 0.2s ease-in-out 0.1s;
	}
.frm-submit:hover{
	background:#00237e;
	-webkit-transition: all 0.2s ease-in-out 0.1s;
	transition: all 0.2s ease-in-out 0.1s;
	}
a.back-btn{
	float:left;
	color:#0098fa;
	font-size:14px;
	margin-top:25px;
	}
a.back-btn svg{
	fill:#0098fa;
	height: 10px;
	min-height: 10px;
}

/*RIGHT SIDE*/

	

.prod-box{
	float:left;
	width:100%;
	height:60px;
	display:table;
	vertical-align:middle;
	}
.ord-lft{
	width:75%;
	position:relative;
	padding-left:75px;
	display:table-cell;
	vertical-align:middle;
	}
.prod-img{
	position:absolute;
	width:62px;
	height:62px;
	border:1px solid #dedddd;
	border-radius:4px;
	overflow:hidden;
	background:#fff;
	left:0;
	top:0;
	}
.prod-img img{max-height:100%;}
.prod-count{
	left:50px;
	top:-5px;
	position:absolute;
	background-color: rgba(114,114,114,0.9);
	border-radius: 50%;
	padding:1px 5px;
	color:#fff;
	font-size:14px;
	}
.ord-lft p{
	float:left;
	width:100%;
	text-align:left;
	}
.ord-title{
	color: #323232;
	font-size:15px;
	font-weight:500;
	}
.ord-desc{
	color: #717171;
	font-size:13px;
	}
.ord-right{
	display:table-cell;
	vertical-align:middle;
	}
.ord-right p{
	float:right;
	color: #323232;
	font-size:15px;
	text-align:right;
	font-weight:600;
	}
.devider-cp{
	float:left;
	width:100%;
	margin:20px 0;
	height:1px;
	background:#dedede;
	}
.cart-table{
	color: #535353;
	width:100%;
	font-size:14px;
	line-height:30px;
	}
.cart-table span{
	color:#323232;
	font-weight:500;
	}
.total-txt{
	font-size:22px;
	}
.total-txt span{font-size:22px; display:inline-block; vertical-align:middle;}


/*------------------------
CSS FOR SHIPPING PART
-------------------------*/
.contact-editor{
	float:left;
	width:100%;
	border: 1px solid #d9d9d9;
	padding:0 15px;
	border-radius:4px;
	margin-top:30px;
	}
.data-row{
	float:left;
	width:100%;
	border-bottom: 1px solid #d9d9d9;
	padding:12px 0;
	position:relative;
	padding-right:60px;
	}
.data-row:last-child{border-bottom:0;}
.label-type{
	float:left;
	width:25%;
	color: #737373;
	font-size:13px;
	text-align:left;
	}
.get-info{
	float:left;
	width:75%;
	color: #333333;
	font-size:13px;
	text-align:left;
	}
a.change-info{
	position:absolute;
	right:0;
	top:10px;
	color:#0098fa;
	font-size:12px;
	}
.cp-shipping,
.cp-billing{
	float:left;
	width:100%;
	}
.shippingtypebox{
	float:left;
	width:100%;
	/*border: 1px solid #d9d9d9;*/
	padding:15px;
	/*border-radius:4px;*/
	}
.standrd_ship{
	float:left;
	width:100%;
	text-align:left;
	color: #545454;
	font-size:14px;
	cursor:pointer;
	}
.standrd_ship span{
	float:right;
	font-weight: 600;
	color: #333333;
	}
.shipping-icon{
	float:left;
	width:100%;
	color: #ec5246;
	font-size:18px;
	text-align:left;
	font-weight:600;
	margin:20px 0;
	}
.shipping-icon img{
	width:48px;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
	}
.chk-subheading{
	float:left;
	width:100%;
	color: #545454;
	font-size:13px;
	text-align:left;
	}
	
/*------------------------
CSS FOR SHIPPING PART
-------------------------*/

.payoptbox{
	float: left;
    width: 100%;
    border: 1px solid #d9d9d9;
	border-radius: 4px;
	position:relative;
	overflow:hidden;
	}
.payment-cards-box{
	float: left;
    width: 100%;
    padding:13px 15px 10px 15px;
   border-bottom: 1px solid #d9d9d9;
height:45px; 
cursor:pointer;
}
.payment-cards-box p{
	float:left;
	font-weight: 600;
    color: #333333;
	font-size:17px;
	}
.payment-cards-box img{
	float:right;
	}
.payment-flds-box{
	float: left;
    width: 100%;
    padding:10px 14px;
	background-color: #fafafa;
   border-color: #d9d9d9;
	}
.lock-bg, .help-icon{
	color: #919191;
	width:17px;
	position:absolute;
	right:15px;
	top:0px;
	}
.frm-flds.card-nme-fld{
	width:46%;
	}
.frm-flds.card-sm-fld{
	width:50%;  
       padding-right:5px;
	}

.frm-flds.card-sm-fld:last-child{
       padding-right:0px;
       padding-left:5px;
	}
.billingtogglbtn, .paymybtn{
	float:left;
	width:100%;
	font-weight: 500;
    color: #333333;
	font-size:16px;
	text-align:left;
	cursor:pointer;
	}
.paymybtn{float:left; width:100%}
.billingtogglbtn input[type=radio], .ship-label-btn input[type=radio], .paymybtn input[type=radio]{
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
	width: 18px;
	height: 18px;
	-webkit-box-shadow: 0 0 0 0 #000000 inset;
	box-shadow: 0 0 0 0 #000000 inset;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	position: relative;
	cursor: pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	border:1px solid #d9d9d9;
	border-radius:50%;
	outline:none;
	margin-top:-2px;
	}
.billingtogglbtn input[type=radio]:checked, .ship-label-btn input[type=radio]:checked, .paymybtn input[type=radio]:checked{
	background:#0098fa;
	}
.billingtogglbtn input[type=radio]:checked:after, .ship-label-btn input[type=radio]:checked:after, .paymybtn input[type=radio]:checked:after{
	width:6px;
	height:6px;
	border-radius:50%;
	background:#fff;
	position:absolute;
	content:'';
	left:5px;
	top:5px;
	}
.payplsvg{
	display:inline-block;
	vertical-align:middle;
	}
.paypal-txt{
	float:left;
	width:100%;
	padding:0 12%;
	padding-bottom:20px;
	color: #545454;
	font-size:14px;
	line-height:20px;
	}
/*-----------------------
CSS FOR FOOTER
-------------------------*/
.footer{
	float:left;
	width:100%;
	padding:1em 0;
	margin-top:1em;
	border-top: 1px solid #e6e6e6;
	}
.footer p {
	float: left;
	width: 100%;
	font-weight:400;
	font-size: 0.85714em;
    color: #737373;
	text-align:left;
	}
#toggle-mob-cart{
	width:100%;
	}
#toggle-mob-cart.isopened{height: auto; visibility:visible;}

.stripebtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.saving {
  color: green; 
  font-weight: 700;
  margin-top:15px;
  margin-bottom:5px;
}

.receipt-order {
font-size:18px;
font-weight:700;
}

.receipt-confirmation {
  font-size:14px;
  margin-top:2em;
}

.receipt-detail {
  display: block;
  width: 100%;
  margin-top:1em;
}

.receipt-detail span:not(.fa) {
  display: block;
  text-align: left;
}

.receipt-detail div {
  margin-bottom: 7px;
}

.receipt-detail-left {
  display: inner-block;
  float: left;
  width: 50%;
  padding-right:0.5em;
}

.receipt-detail-right {
  display: inner-block;
  float: right;
  width: 50%;
  padding-left:0.5em;
}


@media only screen and (max-width:1000px){
.for-desk{display:none;}
.for-mob{display:block;}

.top-header{
	width:100%;
	padding:1.3em 0;
	display: block;
	}
.mob-logo{      
        margin: auto;
        max-width:60%;
        height: 40px;	
        float:left;
        vertical-align:middle;
	}	
.mob-logo-right{
        max-width:40%;
        height: 40px;	
        float:right;
	}	
.container{	
	width:100%;
	padding:0 1em;
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	#max-width: 40em;
	-webkit-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
	box-sizing:border-box;
        height:auto;
        border-right:0px;
	}

.lft-chk{width:100%; padding-right:0; float:none; padding-top:10px;}
.right-chk{width:100%; padding-left:0; float:none; padding:0px}
.right-chk:after{left:-100%; box-shadow:none;}

ul.brdcrm{display:none;}
.devider-cp{margin:10px 0;}
.prod-img{width:55px; height:50px;}
.ord-title{font-size:13px; line-height:16px;}
.prod-box{height:50px;}

.frm-submit{width:100%;}

.summry-toggle-mob{	
	background: #fafafa;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	padding: 1.25em 0;
	text-align: left;
	width: 100%;
	cursor:pointer;
	display: block;
	}
.summry-toggle{
	float:left;
	width:60%;
	color: #0079c7;
	font-size:14px;
	}
.order-summary-toggle__icon{
	fill: #0079c7;
	display:inline-block;
	vertical-align:middle;
	margin-right: 0.75em;
	}
.togle-price{
	float:right;
	width:40%;
	font-size: 1.28571em;
	line-height: 1em;
	color: #333333;
	text-align:right;
	}
.order-summary-toggle__dropdown {
	vertical-align: middle;
	-webkit-transition: fill 0.2s ease-in-out;
	transition: fill 0.2s ease-in-out;
	fill: #0098fa;
	}
#toggle-mob-cart.isopened{
	height: 0;
	visibility:hidden;
	overflow: hidden;
	-ms-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	}
a.back-btn{float:none; display:inline-block; vertical-align:middle;}

.contact-editor{margin-top:10px;}

#toggle-mob-cart{
        border-bottom: 1px solid #e6e6e6;
	}

.receipt-detail-left,
.receipt-detail-right {
  display: block;
  width:100%;
}
}

@media only screen and (max-width:749px){
.frm-flds.half-fld, .frm-flds.drop-fld, .frm-flds.zip-fld, .frm-flds.street-fld, .frm-flds.house-fld {
	width: 49%;
	margin-right: 0;
	}
}




@media only screen and (max-width:320px){
.frm-flds.half-fld-fixed {
	width: 49%;
	margin-right: 0;
	}
}

.error {
    position: absolute;
    top:1px;
    right:1px;
    background-color: #ffc28c !important;
    color: #000000;
    border: 1px solid #f6b77f !important;
    border-radius: 5px;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 1px;
    font-size: 10px;
    white-space: nowrap;
    opacity: 0.75;
    z-index:200;
}

.error-data {
border-color:#f6b77f !important;
background-color:#feeac8 !important;
}

.arrow {
  position: absolute;
  top:14px;
  right:14px;
  width:16px;
  z-index: 100;
}






/** checkmark animation **/
.checkmark-circle {
    width: 150px;
    height: 150px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 50px auto;
}
.checkmark-circle .background {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #2EB150;
    position: absolute;
}
.checkmark-circle .checkmark {
    border-radius: 5px;
}
.checkmark-circle .checkmark.draw:after {
    -webkit-animation-delay: 100ms;
    -moz-animation-delay: 100ms;
    animation-delay: 100ms;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-name: checkmark;
    -moz-animation-name: checkmark;
    animation-name: checkmark;
    -webkit-transform: scaleX(-1) rotate(135deg);
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -o-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.checkmark-circle .checkmark:after {
    opacity: 1;
    height: 75px;
    width: 37.5px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    border-right: 5px solid #2EB150;
    border-top: 5px solid #2EB150;
    border-radius: 2.5px !important;
    content: '';
    left: 34px;
    top: 80px;
    position: absolute;
}

@-webkit-keyframes checkmark {
0% {
height: 0;
width: 0;
opacity: 1;
}
20% {
height: 0;
width: 37.5px;
opacity: 1;
}
40% {
height: 75px;
width: 37.5px;
opacity: 1;
}
100% {
height: 75px;
width: 37.5px;
opacity: 1;
}
}
@-moz-keyframes checkmark {
0% {
height: 0;
width: 0;
opacity: 1;
}
20% {
height: 0;
width: 37.5px;
opacity: 1;
}
40% {
height: 75px;
width: 37.5px;
opacity: 1;
}
100% {
height: 75px;
width: 37.5px;
opacity: 1;
}
}
@keyframes checkmark {
0% {
height: 0;
width: 0;
opacity: 1;
}
20% {
height: 0;
width: 37.5px;
opacity: 1;
}
40% {
height: 75px;
width: 37.5px;
opacity: 1;
}
100% {
height: 75px;
width: 37.5px;
opacity: 1;
}
}


.fa-spinner{
    margin-right:10px;
}

.fa-chevron-right{
     animation: nudge 0.4s linear infinite alternate;
}

.fa.fa-chevron-right.padding{
    padding-left:15px;
}

@keyframes nudge {
     0%, 100% {
         transform: translate(0, 0);
    }
     0% {
         transform: translate(0px, 0);
    }
     100% {
         transform: translate(-10px, 0);
    }
}




/* The container */
.custom-container {
  display: block;
  position: relative;
  padding-left: 35px;
        padding-right: 10px;
        margin-bottom: 15px;
            margin-top: 8px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #f7d596;
        border-radius:100%;

}

/* On mouse-over, add a grey background color */
.custom-container:hover input ~ .check {
  background-color: #ed1c25;
        border-radius:100%;
}

/* When the checkbox is checked, add a blue background */
.custom-container input:checked ~ .check {
  background-color: #ed1c25;
        border-radius:100%;
}

/* Create the check/indicator (hidden when not checked) */
.check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-container input:checked ~ .check:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-container .check:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-container .check:before {
        border: 2px solid #737373;

}



.custom-upsell {
    background-color: #fffddf;
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    border: 1px solid #f3d9a0;
}





.custom-container .arrow {
  position: absolute;
  top: 0px;
  left: -25px;
  width: 30px;
}




.payment-flds-box-option {
   border-bottom: 1px solid #d9d9d9;
}

.payment-flds-box-option img {
display:inline-block; 
vertical-align:middle; 
margin:20px 0;
}













.discount {
    background-color: #0098fa;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
position:absolute;
    margin-top: -2px;
    margin-left: 10px;
    opacity: 0.40;
}








.countdown {
	background: rgb(255, 240, 208);
	border-radius: 12px;
	font-size: 15px;
	border: 1px solid #fbcc70;
	margin-bottom: 15px;
	padding: 10px;
	color: #000;
        text-align: left;
}

@media only screen and (max-width:749px){
  .countdown {
    margin-top:5px;
    margin-bottom:15px;
  }
}



.bonus {
    background-color: #13b500!important;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
}







button.checkout-submit-paypal.paypalbtn.overlay {
    cursor: pointer;
}


@media only screen and (max-width: 749px) {
.frm-flds.half-fld, .frm-flds.drop-fld, .frm-flds.zip-fld, .frm-flds.street-fld, .frm-flds.house-fld {
    width: 100%;
    margin-right: 0;
}}


div#stripe-cvv {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
}


div#stripe-cc-number {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
}


div#stripe-exp {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
}

@media only screen and (max-width:749px){
	.why-us {
		display: none!important;
	}
	}
